<p id="notice"><%= notice %></p>

<h1>Borrower Profiles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Bankcruptcy</th>
      <th>Ownership</th>
      <th>Other revenues</th>
      <th>Assets</th>
      <th>Credit appreciation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @borrower_profiles.each do |borrower_profile| %>
      <tr>
        <td><%= borrower_profile.user %></td>
        <td><%= borrower_profile.bankcruptcy %></td>
        <td><%= borrower_profile.ownership %></td>
        <td><%= borrower_profile.other_revenues %></td>
        <td><%= borrower_profile.assets %></td>
        <td><%= borrower_profile.credit_appreciation %></td>
        <td><%= link_to 'Show', borrower_profile %></td>
        <td><%= link_to 'Edit', edit_borrower_profile_path(borrower_profile) %></td>
        <td><%= link_to 'Destroy', borrower_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Borrower Profile', new_borrower_profile_path %>
