<div>
  <h1><%= t('.page_title') %></h1>
  <p class="lead">
    <%= t('.page_lead') %>
  </p>
</div>

<p>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-info wiz_progress"
         role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</p>

<%= form_with model: PersonalLoan.new, url: create_personal_path, id: 'wiz_form' do |form| %>

  <div class="wiz_tab">
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title"><%= t('.personal_loan.questions.purpose') %></h2>
        <p>
          <div class="form-group">
            <%= form.select :purpose,
                            options_for_select(PersonalLoan.purposes_for_select),
                            { include_blank: t('.personal_loan.select.purpose') },
                            { class: 'form-control select2', style: 'width: 100%;',
                              data: { "minimum-results-for-search" => "Infinity" } } %>
            <div class="invalid-feedback"></div>
          </div>
        </p>
      </div>
    </div>
  </div>

  <div class="wiz_tab">
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title"><%= t('.personal_loan.questions.amount') %></h2>
        <p>
          <h3 id="amount_value">1000</h3>
          <div id="amount_slider" class="noUi-target noUi-horizontal"></div>
          <%= form.hidden_field :amount, value: 1000, required: true %>
          <div class="invalid-feedback"></div>
        </p>
      </div>
    </div>
  </div>

  <%= form.fields :user_profile do |fields| %>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.user_profile.questions.fullname') %></h2>
          <p>
            <div class="form-group">
              <%= fields.label :firstname, UserProfile.human_attribute_name(:firstname) %>
              <%= fields.text_field :firstname, class: 'form-control text-center', required: true %>
              <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
              <%= fields.label :lastname, UserProfile.human_attribute_name(:lastname) %>
              <%= fields.text_field :lastname, class: 'form-control text-center', required: true %>
              <div class="invalid-feedback"></div>
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.user_profile.questions.birthdate') %></h2>
          <p>
            <div class="form-group">
              <div class="input-group">
                <%= fields.date_field :birthdate, class: 'form-control text-center',
                                      placeholder: 'yyyy-mm-dd (ex. 2016-08-30)',
                                      required: true %>
                <span class="input-group-text"><%= fa_icon 'calendar' %></span>
              </div>
              <div class="invalid-feedback"></div>
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.user_profile.questions.phone') %></h2>
          <p>
            <div class="form-group">
              <%= fields.phone_field :phone, class: 'form-control text-center', required: true %>
              <div class="invalid-feedback"></div>
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.user_profile.questions.sin') %></h2>
          <p>
            <div class="form-group">
              <%= fields.text_field :sin, class: 'form-control text-center', type: 'sin', required: true %>
              <div class="invalid-feedback"></div>
            </div>
          </p>
        </div>
      </div>
    </div>

    <%= fields.fields :address do |address_fields| %>

      <div class="wiz_tab">
        <div class="card text-center">
          <div class="card-body">
            <h2 class="card-title"><%= t('.user_profile.questions.address') %></h2>
            <p>
              <div class="text-left">
                <%= render 'addresses/form_fields', fields: address_fields %>
              </div>
            </p>
          </div>
        </div>
      </div>

    <% end %>

  <% end %>

  <%= form.fields :employment do |fields| %>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.employment.questions.status') %></h2>
          <p>
            <div class="form-group">
              <%= fields.select :status,
                              options_for_select(Employment.statuses_for_select),
                              { include_blank: t('.employment.select.status') },
                              { class: 'form-control select2', style: 'width: 100%;',
                                data: { "minimum-results-for-search" => "Infinity" },
                                required: true } %>
              <div class="invalid-feedback"></div>
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.employment.questions.since') %></h2>
          <p>
            <div class="form-group">
              <div class="input-group">
                <%= fields.date_field :since, class: 'form-control text-center',
                                      placeholder: 'yyyy-mm-dd (ex. 2016-08-30)',
                                      required: true %>
                <span class="input-group-text"><%= fa_icon 'calendar' %></span>
              </div>
              <div class="invalid-feedback"></div>
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.employment.questions.employer') %></h2>
          <p>
            <div class="form-group">
              <%= fields.text_field :employer, class: 'form-control text-center' %>
              <div class="invalid-feedback"></div>
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.employment.questions.title') %></h2>
          <p>
            <div class="form-group">
              <%= fields.text_field :title, class: 'form-control text-center' %>
              <div class="invalid-feedback"></div>
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.employment.questions.revenues') %></h2>
          <p>
            <div class="form-group">
              <%= fields.text_field :revenues, autocomplete: 'off',
                                    class: 'form-control text-center input-amount',
                                    required: true %>
              <div class="invalid-feedback"></div>
            </div>
          </p>
        </div>
      </div>
    </div>

  <% end %>

  <%= form.fields :borrower_profile do |fields| %>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.borrower_profile.questions.bankcruptcy') %></h2>
          <p>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <%= fields.label :bankcruptcy, true, class: 'btn btn-info' do %>
                <%= fields.radio_button :bankcruptcy, true, autocomplete: 'off', required: true %>
                <%= t('helpers.choices.yes') %>
              <% end %>
              <%= fields.label :bankcruptcy, false, class: 'btn btn-info active' do %>
                <%= fields.radio_button :bankcruptcy, false, autocomplete: 'off', required: true, checked: true %>
                <%= t('helpers.choices.no') %>
              <% end %>
            </div>
            <div class="invalid-feedback"></div>
          </p>
        </div>
      </div>
    </div>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.borrower_profile.questions.ownership') %></h2>
          <p>
            <div class="form-group">
              <%= fields.select :ownership,
                              options_for_select(BorrowerProfile.ownerships_for_select),
                              { include_blank: t('.borrower_profile.select.ownership') },
                              { class: 'form-control select2', style: 'width: 100%;',
                                data: { "minimum-results-for-search" => "Infinity" },
                                required: true } %>
              <div class="invalid-feedback"></div>
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.borrower_profile.questions.credit_appreciation') %></h2>
          <p>
            <div class="form-group">
              <%= fields.select :credit_appreciation,
                              options_for_select(BorrowerProfile.credit_appreciations_for_select),
                              { include_blank: t('.borrower_profile.select.credit_appreciation') },
                              { class: 'form-control select2', style: 'width: 100%;',
                                data: { "minimum-results-for-search" => "Infinity" },
                                required: true } %>
              <div class="invalid-feedback"></div>
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.borrower_profile.questions.other_revenues') %></h2>
          <p>
            <div class="form-group">
              <%= fields.text_field :other_revenues, autocomplete: 'off',
                                    class: 'form-control text-center input-amount',
                                    required: true %>
              <div class="invalid-feedback"></div>
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.borrower_profile.questions.assets') %></h2>
          <p>
            <div class="form-group">
              <%= fields.text_field :assets, autocomplete: 'off',
                                    class: 'form-control text-center input-amount',
                                    required: true %>
              <div class="invalid-feedback"></div>
            </div>
          </p>
        </div>
      </div>
    </div>

  <% end %>

  <% unless user_signed_in? %>
    <%= form.fields :user do |fields| %>

      <div class="wiz_tab">
        <div class="card text-center">
          <div class="card-body">
            <h2 class="card-title"><%= t('.user.questions.email') %></h2>
            <p>
              <div class="form-group">
                <%= fields.email_field :email, class: 'form-control text-center', required: true %>
                <div class="invalid-feedback"></div>
              </div>
            </p>
          </div>
        </div>
      </div>

      <div class="wiz_tab">
        <div class="card text-center">
          <div class="card-body">
            <h2 class="card-title"><%= t('.user.questions.password_html') %></h2>
            <p>
              <div class="form-group">
                <%= fields.label :password, User.human_attribute_name(:password) %>
                <%= fields.password_field :password, class: 'form-control text-center', required: true %>
                <div class="invalid-feedback"></div>
              </div>
              <div class="form-group">
                <%= fields.label :password, User.human_attribute_name(:password_confirmation) %>
                <%= fields.password_field :password_confirmation, class: 'form-control text-center', required: true %>
                <div class="invalid-feedback"></div>
              </div>
            </p>
          </div>
        </div>
      </div>

    <% end %>
  <% end %>

  <div class="wiz_buttons">
    <button type="button" id="prevBtn" class="btn btn-light"><%= t('helpers.links.previous') %></button>
    <button type="button" id="nextBtn" class="btn btn-primary"><%= t('helpers.links.next') %></button>
    <button type="button" id="submitBtn" class="btn btn-success"><%= t('helpers.submit.send') %></button>
  </div>

<% end %>

<% content_for :head do %>
  <script data-turbolinks-track="reload">
    $(document).on('turbolinks:load', function () {

        let form = $('#wiz_form');

        // jQuery Validation
        form.validate({
            rules: {
                'personal_loan[purpose]': "required",
                'personal_loan[amount]': "required",
                'personal_loan[user_profile][firstname]': "required",
                'personal_loan[user_profile][lastname]': "required",
                'personal_loan[user_profile][birthdate]': "required",
                'personal_loan[user_profile][phone]': "required",
                'personal_loan[user_profile][sin]': {
                    required: true,
                    "canadianSIN": true
                },
                'personal_loan[user_profile][address][street_number]': "required",
                'personal_loan[user_profile][address][route]': "required",
                'personal_loan[user_profile][address][city]': "required",
                'personal_loan[user_profile][address][state_province_region]': {
                    required: true,
                    "provinceCA": {
                        depends: function () {
                            return $('#personal_loan_user_profile_address_country_code').val() === 'CA';
                        }
                    },
                    "stateUS": {
                        depends: function () {
                            return $('#personal_loan_user_profile_address_country_code').val() === 'US';
                        }
                    }
                },
                'personal_loan[user_profile][address][country_code]': "required",
                'personal_loan[user_profile][address][zip_postal_code]': {
                    required: true,
                    "postalCodeBR": {
                        depends: function () {
                            return $('#personal_loan_user_profile_address_country_code').val() === 'BR';
                        }
                    },
                    "postalCodeCA": {
                        depends: function () {
                            return $('#personal_loan_user_profile_address_country_code').val() === 'CA';
                        }
                    },
                    "postalcodeIT": {
                        depends: function () {
                            return $('#personal_loan_user_profile_address_country_code').val() === 'IT';
                        }
                    },
                    "postalcodeNL": {
                        depends: function () {
                            return $('#personal_loan_user_profile_address_country_code').val() === 'NL';
                        }
                    },
                    "postcodeUK": {
                        depends: function () {
                            return $('#personal_loan_user_profile_address_country_code').val() === 'UK';
                        }
                    },
                    "zipcodeUS": {
                        depends: function () {
                            return $('#personal_loan_user_profile_address_country_code').val() === 'US';
                        }
                    }
                },
                'personal_loan[employment][status]': "required",
                'personal_loan[employment][since]': "required",
                'personal_loan[employment][employer]': {
                    required: {
                        depends: function () {
                            return $('#personal_loan_employment_status').val() !== '4';
                        }
                    }
                },
                'personal_loan[employment][title]': {
                    required: {
                        depends: function () {
                            return $('#personal_loan_employment_status').val() !== '4';
                        }
                    }
                },
                'personal_loan[employment][revenues]': {
                    required: {
                        depends: function () {
                            return $('#personal_loan_employment_status').val() !== '4';
                        }
                    }
                },
                'personal_loan[borrower_profile][bankcruptcy]': "required",
                'personal_loan[borrower_profile][ownership]': "required",
                'personal_loan[borrower_profile][credit_appreciation]': "required",
                'personal_loan[borrower_profile][other_revenues]': "required",
                'personal_loan[borrower_profile][assets]': "required",
                'personal_loan[user][username]': {
                    required: true,
                    email: true
                },
                'personal_loan[user][password]': {
                    required: true,
                    minlength: 8
                },
                'personal_loan[user][password_confirmation]': {
                    required: true,
                    minlength: 8,
                    equalTo: "#personal_loan_user_password"
                }
            },
            messages: {
                'personal_loan[purpose]': { required: "<%= t('.personal_loan.errors.purpose') %>" },
                'personal_loan[amount]': "<%= t('.personal_loan.errors.amount') %>",
                'personal_loan[user_profile][firstname]': "<%= t('.user_profile.errors.firstname') %>",
                'personal_loan[user_profile][lastname]': "<%= t('.user_profile.errors.lastname') %>",
                'personal_loan[user_profile][birthdate]': "<%= t('.user_profile.errors.birthdate') %>",
                'personal_loan[user_profile][phone]': "<%= t('.user_profile.errors.phone') %>",
                'personal_loan[user_profile][sin]': "<%= t('.user_profile.errors.sin') %>",
                'personal_loan[user_profile][address][street_number]': "<%= t('.user_profile.errors.address') %>",
                'personal_loan[user_profile][address][route]': "<%= t('.user_profile.errors.address') %>",
                'personal_loan[user_profile][address][city]': "<%= t('.user_profile.errors.address') %>",
                'personal_loan[user_profile][address][state_province_region]': {
                    required: "<%= t('.user_profile.errors.address') %>",
                    "provinceCA": "<%= t('.user_profile.errors.addresses.provinceCA') %>",
                    "stateUS": "<%= t('.user_profile.errors.addresses.stateUS') %>"
                },
                'personal_loan[user_profile][address][country_code]': "<%= t('.user_profile.errors.address') %>",
                'personal_loan[user_profile][address][zip_postal_code]': {
                    required: "<%= t('.user_profile.errors.address') %>",
                    "postalCodeCA": "<%= t('.user_profile.errors.addresses.postalCodeCA') %>",
                    "zipcodeUS": "<%= t('.user_profile.errors.addresses.zipcodeUS') %>"
                },
                'personal_loan[employment][status]': "<%= t('.employment.errors.status') %>",
                'personal_loan[employment][since]': "<%= t('.employment.errors.since') %>",
                'personal_loan[employment][employer]': "<%= t('.employment.errors.employer') %>",
                'personal_loan[employment][title]': "<%= t('.employment.errors.title') %>",
                'personal_loan[employment][revenues]': "<%= t('.employment.errors.revenues') %>",
                'personal_loan[borrower_profile][bankcruptcy]': "<%= t('.borrower_profile.errors.bankcruptcy') %>",
                'personal_loan[borrower_profile][ownership]': "<%= t('.borrower_profile.errors.ownership') %>",
                'personal_loan[borrower_profile][credit_appreciation]': "<%= t('.borrower_profile.errors.credit_appreciation') %>",
                'personal_loan[borrower_profile][other_revenues]': "<%= t('.borrower_profile.errors.other_revenues') %>",
                'personal_loan[borrower_profile][assets]': "<%= t('.borrower_profile.errors.assets') %>",
                'personal_loan[user][email]': "<%= t('.user.errors.email') %>",
                'personal_loan[user][password]': {
                    required: "<%= t('.user.errors.password') %>",
                    minlength: "<%= t('.user.errors.password') %>",
                },
                'personal_loan[user][password_confirmation]': {
                    required: "<%= t('.user.errors.password_confirmation') %>",
                    minlength: "<%= t('.user.errors.password_confirmation') %>",
                    equalTo: "<%= t('.user.errors.password_confirmation') %>"
                }
            },
            errorPlacement: function (error, element) {
                element.closest('.form-group').find('.invalid-feedback').html(error.html());
            },
            success: function (label, element) {
                console.log('jquery.validator.success');
                console.log(label);
                console.log(element);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass("is-invalid");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass("is-invalid");
            }
        });

        let wizard = new Wizard(form, $('.wiz_tab'), null, $('.wiz_progress'), $('#nextBtn'), $('#prevBtn'), $('#submitBtn'));


        // Formatting
        $('input[type="tel"]').mask('000-000-0000');
        $('input[type="sin"]').mask('000 000 000');
        $('.input-amount').mask('# ##0,00', {reverse: true});


        // Amount tab
        let amount_slider = document.getElementById('amount_slider');
        noUiSlider.create(amount_slider, {
            start: 1000,
            step: 500,
            connect: [true, false],
            range: { 'min': 1000, 'max': 25000 },
            pips: {
                mode: 'values',
                values: [1000, 5000, 10000, 15000, 20000, 25000],
                density: 2,
                stepped: true
            }
        });
        amount_slider.noUiSlider.on('update', function (values, handle) {
            const amount = values[handle];
            $('#amount_value').html(accounting.formatMoney(amount, accounting_options_locale[current_locale]));
            $('#amount').val(amount);
        });

    });
  </script>

<% end %>
