<div>
  <h1><%= t('.page_title') %></h1>
  <p class="lead">
    <%= t('.page_lead') %>
  </p>
</div>

<p>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-info wiz_progress"
         role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</p>

<%= form_with model: PersonalLoan.new, url: create_personal_path, format: :js, id: 'wiz_form' do |form| %>

  <div class="wiz_tab">
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title"><%= t('.loan_purpose.question') %></h2>
        <p>
          <div class="form-group">
            <%= form.select :purpose,
                            options_for_select(PersonalLoan.purposes_for_select),
                            { include_blank: t('helpers.select.purpose') },
                            { class: 'form-control select2', style: 'width: 100%;',
                              data: { "minimum-results-for-search" => "Infinity" } } %>
            <div class="invalid-feedback"><%= t('.loan_purpose.errors.select') %></div>
          </div>
        </p>
      </div>
    </div>
  </div>

  <div class="wiz_tab">
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title"><%= t('.loan_amount.question') %></h2>
        <p>
          <h3 id="amount_value">1000</h3>
          <div id="amount_slider" class="noUi-target noUi-horizontal"></div>
          <%= form.hidden_field :loan_amount, value: 1000 %>
        </p>
      </div>
    </div>
  </div>

  <%= form.fields :user_profile do |fields| %>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.user_profile.questions.fullname') %></h2>
          <p>
            <div class="form-group">
              <%= fields.label :firstname, UserProfile.human_attribute_name(:firstname) %>
              <%= fields.text_field :firstname, class: 'form-control text-center' %>
              <div class="invalid-feedback"><%= t('.user_profile.errors.firstname_empty') %></div>
            </div>
            <div class="form-group">
              <%= fields.label :lastname, UserProfile.human_attribute_name(:lastname) %>
              <%= fields.text_field :lastname, class: 'form-control text-center' %>
              <div class="invalid-feedback"><%= t('.user_profile.errors.lastname_empty') %></div>
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.user_profile.questions.birthdate') %></h2>
          <p>
            <div class="form-group">
              <div class="input-group">
                <%= fields.date_field :birthdate, class: 'form-control text-center', placeholder: 'yyyy-mm-dd hh:mm (ex. 2016-08-30 15:30)' %>
                <span class="input-group-text"><%= fa_icon 'calendar' %></span>
              </div>
              <div class="invalid-feedback"><%= t('.user_profile.errors.eighteen_plus') %></div>
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.user_profile.questions.phone') %></h2>
          <p>
            <div class="form-group">
              <%= fields.phone_field :phone, class: 'form-control text-center' %>
              <div class="invalid-feedback"><%= t('.user_profile.errors.phone') %></div>
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.user_profile.questions.sin') %></h2>
          <p>
          <div class="form-group">
            <%= fields.text_field :sin, class: 'form-control text-center', type: 'sin' %>
            <div class="invalid-feedback"><%= t('.user_profile.errors.sin') %></div>
          </div>
          </p>
        </div>
      </div>
    </div>

  <% end %>

  <%= form.fields :user do |fields| %>

    <div class="wiz_tab">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= t('.user.questions.password') %></h2>
          <p>
          <div class="form-group">
            <%= fields.label :password, User.human_attribute_name(:password) %>
            <%= fields.password_field :password, class: 'form-control text-center' %>
          </div>
          <div class="form-group">
            <%= fields.label :password, User.human_attribute_name(:password_confirmation) %>
            <%= fields.password_field :password_confirmation, class: 'form-control text-center' %>
            <div class="invalid-feedback"><%= t('.user.errors.password') %></div>
          </div>
          </p>
        </div>
      </div>
    </div>

  <% end %>

  <div class="wiz_buttons">
    <button type="button" id="prevBtn" class="btn btn-light"><%= t('helpers.links.previous') %></button>
    <button type="button" id="nextBtn" class="btn btn-primary"><%= t('helpers.links.next') %></button>
    <button type="button" id="submitBtn" class="btn btn-success"><%= t('helpers.submit.send') %></button>
  </div>

<% end %>

<% content_for :head do %>
  <script data-turbolinks-track="reload">
    $(document).on('turbolinks:load', function () {

        let wizard = new Wizard($('#wiz_form'), $('.wiz_tab'), null, $('.wiz_progress'), $('#nextBtn'), $('#prevBtn'), $('#submitBtn'));

        // Formatting
        $('input[type="tel"]').mask('000-000-0000');
        $('input[type="sin"]').mask('000 000 000');

        // Amount tab
        let amount_slider = document.getElementById('amount_slider');
        noUiSlider.create(amount_slider, {
            start: 1000,
            step: 500,
            connect: [true, false],
            range: { 'min': 1000, 'max': 25000 },
            pips: {
                mode: 'values',
                values: [1000, 5000, 10000, 15000, 20000, 25000],
                density: 2,
                stepped: true
            }
        });
        amount_slider.noUiSlider.on('update', function (values, handle) {
            const amount = values[handle];
            $('#amount_value').html(accounting.formatMoney(amount, accounting_options_locale[current_locale]));
            $('#amount').val(amount);
        });

        $('select').on('change', function () {
            $(this).removeClass('is-invalid');
        });
        $('input').on('input', function () {
            $(this).removeClass('is-invalid');
        });
    });
  </script>
<% end %>
