<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!link rel="icon" href="favicon.ico">

    <title><%= content_for?(:title) ? yield(:title) : "Momoney" %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>
  </head>

  <body>

    <%= render partial: 'layouts/navigation' %>

    <div class="container">
      <%= bootstrap_flash(class: 'd-print-none') %>

      <%= yield %>
    </div><!-- /.container -->

    <% if Rails.env.development? %>
      <footer>
        <!-- Debug -->
        <div class="d-print-none">
          <%= debug(params) %>
        </div>
      </footer>
    <% end %>

  </body>
</html>
